[submodule "home_tmux/.tmux"]
	path = home_tmux/.tmux
	url = https://github.com/gpakosz/.tmux.git
[submodule "home_qutebrowser/.config/qutebrowser/qutenyan"]
	path = home_qutebrowser/.config/qutebrowser/qutenyan
	url = https://gitlab.com/jgkamat/qutenyan.git
[submodule "home_qutebrowser/.config/qutebrowser/base16-qutebrowser"]
	path = home_qutebrowser/.config/qutebrowser/base16-qutebrowser
	url = https://github.com/theova/base16-qutebrowser.git
[submodule "home_qutebrowser/.config/qutebrowser/solarized-everything-css"]
	path = home_qutebrowser/.config/qutebrowser/solarized-everything-css
	url = https://github.com/alphapapa/solarized-everything-css.git
